<div class="container mx-auto">
    <div class="bg-fixed h-auto text-white py-24 px-10 my-5 mx-2" style="background-image: url(../assets/img/img7.jpg)">
        <div class="md:w-4/6">
            <p class="font-bold text-sm uppercase mb-6">Apithy Test</p>
            <p class="text-3xl font-bold mb-3">Aliquam pharetra. Quisque ultricies sit amet</p>
            <p class="text-xl mb-10 leading-none">Pellentesque vitae interdum dolor. Pellentesque tristique rhoncus ipsum vitae commodo. Proin aliquam iaculis magna, sit amet maximus leo molestie non. Maecenas</p>
            <a href="#" class="bg-white text-sm text-black py-2 px-3 rounded-md uppercase font-bold">Saber Más</a>
        </div>
    </div>
</div>
