<div class="bg-black w-screen h-auto py-20">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
        <div class="text-gray-700 text-center px-4 py-2 m-2 ">
            <p class="font-bold text-white">
                <a href="/">APITHY TEST</a>
            </p>
        </div>
        <div class="text-gray-700 px-4 py-2 m-2">
            <p class="text-white text-left mb-3 contact text-center"> 
                <a href="tel:+5583883579" class="mb-4">
                    <i class="fa fa-phone mr-4" aria-hidden="true"></i>55-83-88-35-79
                </a>
                <a href="https://www.facebook.com/JosueCasasola" target="_blank">
                    <i class="fab fa-facebook mr-4"></i> JosueCasasola
                </a>
            </p>           
        </div>
        <div class="text-gray-700 px-4 py-2 m-2">
            <p class="text-white text-center" > 
                <i class="fas fa-map-marker-alt mr-4"></i>
                <a href="https://goo.gl/maps/AWuUBoTtnehajEK37" target="_blank"> Nellie Campobello 129. C.P. 01180, CDMX</a>
            </p>
        </div>
    </div>
</div>
